html {
    font-family: "Chakra Petch", sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

body {
    margin: 15vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relatve;
    background-color: #151e3f;
}

.text {
    border: 2px solid #DCEAB2;
    padding: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    border-radius: 50px;
    margin-left: 20vh;
    margin-right: 20vh;
}

li {
    font-size: 20px;
    color: white;
    padding: 30px;
}

ul {
    line-height: 50px;
}

#projects {
    font-weight: bold;
    color: #db82d7;

}
