html {
    font-family: "Chakra Petch", sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

body {
    margin: 25vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relatve;
    background-color: #151e3f;
}

.text {
    border: 5px solid #DCEAB2;
    padding: 3vh;
    padding-left: 5vh;
    padding-right: 5vh;
    border-radius: 7%;
}

#info1 {
    margin-left: 30px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to right,
    #db82d7 5%, #DCEAB2 10%, #50D8D7 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: move 15s infinite linear;
    animation-fill-mode: forwards;
}

#info2 {
    margin-left: 30px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to right,
    #50D8D7 10%, #db82d7 20%, #DCEAB2 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: move 15s infinite linear;
    animation-fill-mode: forwards;
}

#info3 {
    margin-left: 30px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to right,
    #50D8D7 5%, #DCEAB2 20%, #db82d7 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: move 15s infinite linear;
    animation-fill-mode: forwards;
}

#links {
    text-decoration: dotted;
    color:#DCEAB2;
}

#links:hover {
    color: #db82d7;
}

#ig {
    text-decoration: none;
    color: #db82d7;
}

#icon {
    vertical-align: middle;
}

#ig:hover {
    color: white;
}
@keyframes move {
    0%{
        background-position: 0;
    }
    50%{
        background-position: 180px;
    }
    100%{
        background-position: 400px;
    }
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

#name {
    font-size: 40px;
    color: #db82d7;
}

#syntax {
    color: white;
}

a {
    text-decoration:none;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext1 {
    visibility: hidden;
    width: 400px;
    min-width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #415396;
    color: #DCEAB2;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    bottom: 100%;
    left: 50%;
    margin-left: -160px;

  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s
  }

  .tooltip .tooltiptext2 {
    visibility: hidden;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #415396;
    color: #DCEAB2;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s
  }
  
  .tooltip:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
  }

  .tooltip:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
  }

  #blink::after {
    content: "";
    width: 3px;
    height: 23px;
    background: #50D8D7;
    display: inline-block;
    animation: cursor-blink 1.4s steps(2) infinite;
  }

  #blink {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  

