html {
    font-family: "Chakra Petch", sans-serif;
    font-size: 13px;
}

body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relatve;
    background-color: #151e3f;
}

.text {
    border: 5px solid #DCEAB2;
    padding: 2vh;
    border-radius: 5%;
}

#info1 {
    margin-left: 30px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to right,
    #8E3B46 5%, #DCEAB2 10%, #50D8D7 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: move 15s infinite linear;
    animation-fill-mode: forwards;
}

#info2 {
    margin-left: 30px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to right,
    #50D8D7 10%, #8E3B46 20%, #DCEAB2 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: move 15s infinite linear;
    animation-fill-mode: forwards;
}

#info3 {
    margin-left: 30px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to right,
    #50D8D7 5%, #DCEAB2 20%, #8E3B46 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: move 15s infinite linear;
    animation-fill-mode: forwards;
}

@keyframes move {
    0%{
        background-position: 0;
    }
    50%{
        background-position: 180px;
    }
    100%{
        background-position: 400px;
    }
}

#name {
    font-size: 40px;
    color: #8E3B46;
}

#syntax {
    color: white;
}

a {
    text-decoration:none;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext1 {
    visibility: hidden;
    width: 400px;
    min-width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #415396;
    color: #DCEAB2;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    bottom: 100%;
    left: 50%;
    margin-left: -160px;

  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s
  }

  .tooltip .tooltiptext2 {
    visibility: hidden;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #415396;
    color: #DCEAB2;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s
  }
  
  .tooltip:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
  }

  .tooltip:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
  }



